/* Home Stylesheet ==================================================================================================*/

/* Selects the whole page including navigation bar and footer */
.home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Selects the body only, main in this case */
.main {
    min-height: 87vh;
}

/* Selects first heading: I am Frederick Go...problem solver */
.quote {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.quote > h1 {
    text-align: center;
    margin-top: 1%;
    font-size: 50px;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-family: 'Lora', serif;
    /* border: red solid 2px; */
}
.quote > h1 > span > span {
    font-family: 'Lora', serif;
    padding-top: 1rem;
    padding-top: 100/3%;
    /* border: blue solid 2px; */

}



.quote > h1 > span > span:hover {
    animation-name: ani;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes ani {
    from{
        font-size: 3rem;
        padding-top: 100/3%;
    }
    to{
        font-size: 4rem;
        padding-top: 0%;
    }
}


/* Main links, selects the boxes group in the main page */
.main-links {
    margin-top: 5vh;
    margin-bottom: 5vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 2.5%;
    row-gap: 3%;


    width: 70vw;
    max-width: 60rem;
    height: 70vw;
    max-height: 60rem;
    overflow: auto;

    margin-left: auto;
    margin-right: auto;

    grid-auto-rows: 10vw;
    grid-auto-columns: 10vh;    
}
.main-links > div {
    object-fit: cover;
    overflow: hidden;
}
.home-link > img {
    margin-left: -1vw;
    /* width: 150%;
    height: 150%; */
    /* max-width:100%;
    max-height:100%; */
    width: 100%;
        height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* Selects indivisual box */
.main-link:nth-child(3){
    grid-row: 1/3;
    grid-column: 3/5;
}
.main-link:nth-child(4){
    grid-row: 2/5;
    grid-column: 1/3;
}





/* Links Hover Effect Animation */

/* .home-link > img {
    border: red solid 10px;
} */

.home-link > img:hover {
    animation-name: link;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes link {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}









/* Social Media Links: linkedin, github */
.main-social {
    padding-top: 5vh;
    padding-bottom: 10vh;
    text-align: center;
    width: 20vw;
    margin-left: 40vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* Home Stylesheet ==================================================================================================*/

/* Life Stylesheet ==================================================================================================*/

/* Selecting body of life page */
.life {
    min-height: 87vh;
    width: 70vw;
    margin-left: 15vw;
}
.main-life {
    padding-top: 5vh;
}

/* Selects components group class: Introduction, Timeline, Languages, Courses */
.life-section {
    padding-top: 5vh;
}

/* Headings of each component */
.life-section > h1 {
    text-decoration: underline;
}

/* Selects contents of each component  */
.life-section > div {
    font-size: 1.25rem;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.about-me-content {
    padding-top: 3vh;
}
.text-scale {
    text-decoration: none;
    color: black;
}
.text-scale:hover {
    animation-name: text;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    cursor: grab;
}
a {
    text-decoration: none;
}

@keyframes text {
    0% {color: black;}
    /* 12.5% {color: red;}
    25% {color: orange;}
    37.5%{color: yellow;}
    50%{color: green;}
    62.5%{color: lightblue;}
    75%{color: blue;}
    87.5%{color: lightpink;}
    100%{color: purple;} */
    50%{color: salmon;}
    100%{color: #4040a1;}
}

/* Selects Timeline component ---------- */
.timeline > h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.timeline > tr > .year {
    padding-right: 3rem;
    padding-left: 2rem;
    vertical-align: top;
}
.location-link {
    text-decoration: none;
    color: black;
}

/* Selects Languages component ---------- */
.programming-languages-grid {
    border: #b9b0b0 0.5rem solid;
    padding: 4rem 2rem;
    border-radius: 10rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    overflow: auto;

    margin-left: 3rem;
    margin-right: 3rem;

    grid-auto-rows: 200px;
    grid-auto-columns: 10vh;

    text-align: center;    
}

/* Selecting each list of tables */
.programming-languages-grid>div>div>ul{
    list-style: none   
}
.programming-language-list-1 {
    grid-row: 1/4;
    text-decoration: none;
}
.programming-language-list-2 {
    grid-row: 1/3;
    text-decoration: none;
    list-style: none
}
.programming-language-list-3 {
    grid-row: 4/5;
}
.programming-language-list-4 {
    grid-row: 3/5;
}

/* Title of each list */
.programming-languages-grid >div>div>ul>span {
    text-decoration: underline;
}


/* Selects Courses component ---------- */
.last-section {
    margin-bottom: 10vh;
}
.courses > h3 {
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}

/* Life Stylesheet ==================================================================================================*/

/* Projects Stylesheet ==============================================================================================*/

/* Seleting the whole body of project page */
.project {
    min-height: 87vh;
    width: 70vw;
    margin-left: 15vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* First heading of project page: My Proects */
.first-project {
    margin-top: 5vh;
}

/* All of the heading: My Projects, Current Projects, Future Projects */
.project > h1 {
    text-decoration: underline;
    margin-bottom: 1rem;
}

/* Selecting all project listings */
.project-list {
    margin-bottom: 5vh;
    border-bottom: double black;
}

/* Selecting all project names and descriptions */
.project-list > h3, p{
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Selecting all images of projects */
.synchrotron-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.synchrotron-images > img {
    width: 25vw;
}

/* Projects Stylesheet ==============================================================================================*/

/* Room Stylesheet ==================================================================================================*/

/* Selecting the whole body of Room page */
.room {
    min-height: 87vh;
    width: 70vw;
    margin-left: 15%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* Selecting the header of Room page */
.room > h1 {
    text-decoration: underline;
}

/* Every sections of Room page */
.room-section {
    padding-top: 2rem
}

/* Room page component: Music ---------------*/
.music-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 41vw;
    margin-left: 14.5vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.music-images > img {
    height: auto;
    /* max-height: 600px; */
    width: 20vw;
    grid-gap: 1rem
}
.band1 {
    grid-row: 1/3;
    grid-column: 2/3;
}
.band2 {
    grid-row: 2/3;
    grid-column: 1/2;
}
.band3 {
    grid-row: 1/2;
    grid-column: 1/3;
}

/* Room page component: Tennis ---------------*/
.tennis-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.tennis-image-img {
    width: 30vw;
    margin-left: 15vw;
}
.tech-section {
    margin-top: 2rem;
}

/* Room Stylesheet ==================================================================================================*/

/* Contact Stylesheet ===============================================================================================*/

.contact {
    min-height: 68vh;
    width: 70vw;
    margin-left: 15%;
    padding-top: 15vh;
    padding-bottom: 5vh;
    /* border: red solid 5px */
    display: flex;
    flex-direction: row;
}

.contact > div > h1 {
    text-decoration: underline;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
.contact > div > div {
    font-size: 1.5rem;
}

.contact-social-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: -4rem;
}

.contact-section-2 {
    text-align: center;
}
.waiting {
    border: #eca1a6 solid 1rem;
    border-radius: 1.5rem;
    align-items: center;
}
.waiting-text {
    /* border: 3px red solid; */
    /* width: 88%; */
    text-align: center;
}
.contact-section-2 {
    margin-left: 8vw;
}
.credit {
    font-size: 0.8rem;
    /* border: solid red 5px; */
    /* color: red; */
    text-align: right;
    margin-right: 2vw;
}
