.DetailedCourses-heading {
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.DetailedCourses > table > tr {
    vertical-align: top;
}

.course-desc {
    padding-bottom: 3rem;
}

.course-code {
    /* border: red 1px solid; */
    margin-top: 2rem;
    width: 10rem;
}

.back-to-life-link-course{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background-color: #92a8d1;
    border-radius: 2rem;
    padding: 1rem 2rem;

}    