/* Home Stylesheet ==================================================================================================*/

/* Selects the whole page including navigation bar and footer */
.home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Selects the body only, main in this case */
.main {
    min-height: 87vh;
}

/* Selects first heading: I am Frederick Go...problem solver */
.quote {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.quote > h1 {
    text-align: center;
    margin-top: 1%;
    font-size: 50px;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-family: 'Lora', serif;
}

.qu1 {
    animation-name: text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    cursor: grab;
    animation-direction: alternate;
    animation-delay: 1s;
}
.qu2{
    animation-name: text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    cursor: grab;
    animation-direction: alternate;
    animation-delay: 2s;
}
.qu3{
    animation-name: text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    cursor: grab;
    animation-direction: alternate;
    animation-delay: 3s;
}


.quote > h1 > span > span {
    font-family: 'Lora', serif;
    padding-top: 1rem;
    padding-top: 100/3%;
}

@keyframes disappear {
    from{color: black;}
    to{color: transparent;}
}

.quote > h1 > span > span:hover {
    animation-name: ani;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes ani {
    from{
        font-size: 3rem;
        padding-top: 100/3%;
    }
    to{
        font-size: 4rem;
        padding-top: 0%;
    }
}


/* Main links, selects the boxes group in the main page */
.main-links {
    margin-top: 5vh;
    margin-bottom: 5vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 2.5%;
    row-gap: 3%;

    width: 70vw;
    max-width: 60rem;
    height: 70vw;
    max-height: 60rem;
    overflow: auto;

    margin-left: auto;
    margin-right: auto;

    grid-auto-rows: 10vw;
    grid-auto-columns: 10vh;    
}
.main-links > div {
    object-fit: cover;
    overflow: hidden;
}

.first-link {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}


.first-link > img {
    /* margin-left: -1vw; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: block;
}

.text-over-image {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.text-over-image-b {
    backdrop-filter: blur(5px);
}

.text-over-image:hover {
    opacity: 1;
}

.text-over-image > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.text-over-image:hover > * {
    transform: translateY(0px);
}

.text-over-image > h2 {
    color: white;
}

/* Selects indivisual box */
.first-link-3{
    grid-row: 1/3;
    grid-column: 3/5;
}
.first-link-4{
    grid-row: 2/5;
    grid-column: 1/3;
}

/* Social Media Links: linkedin, github */
.main-social {
    padding-top: 5vh;
    padding-bottom: 10vh;
    text-align: center;
    width: 20vw;
    margin-left: 40vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Home Stylesheet ==================================================================================================*/

/* Life Stylesheet ==================================================================================================*/

/* Selecting body of life page */
.life {
    min-height: 87vh;
    width: 70vw;
    margin-left: 15vw;
}
.main-life {
    padding-top: 5vh;
}

/* Selects components group class: Introduction, Timeline, Languages, Courses */
.life-section {
    padding-top: 5vh;
}

/* Headings of each component */
.life-section > h1 {
    text-decoration: underline;
}

/* Selects contents of each component  */
.life-section > div {
    font-size: 1.25rem;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.about-me-content {
    padding-top: 3vh;
}

.text-scale1 {
    animation-name: text-alt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
}
.text-scale2 {
    animation-name: text-alt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2s;
}
.text-scale3 {
    animation-name: text-alt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 3s;
}
.text-scale4 {
    animation-name: text-alt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 4s;
}
a {
    text-decoration: none;
    color: black;
}
@keyframes text-alt {
    0% {color: black;}
    100% {color: #c94c4c;}
}


/* Selects Timeline component ---------- */
.timeline > h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.timeline > tr > .year {
    padding-right: 3rem;
    padding-left: 2rem;
    vertical-align: top;
}
.location-link {
    text-decoration: none;
    color: black;
}

/* Selects Languages component ---------- */
.programming-languages-grid {
    border: #b9b0b0 0.5rem solid;
    padding: 4rem 5rem;
    border-radius: 10rem;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem; */
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-left: 3rem;
    margin-right: 3rem;

    /* grid-auto-rows: 200px;
    grid-auto-columns: 10vh; */

    text-align: center;    

    overflow-y: hidden;  
}

/* Selecting each list of tables */
.programming-languages-grid>div>div>div>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
/* .programming-language-list-1 {
    grid-row: 1/5;
}
.programming-language-list-2 {
    grid-row: 5/6;
}
.programming-language-list-3 {
    grid-row: 6/7;
}
.programming-language-list-4 {
    grid-row: 1/2;
}
.programming-language-list-5 {
    grid-row: 2/3;
}
.programming-language-list-6 {
    grid-row: 3/5;
} */

/* Title of each list */
.programming-languages-grid >div>div>div>ul>span {
    text-decoration: underline;
}


/* Selects Courses component ---------- */
.last-section {
    margin-bottom: 10vh;
}
.courses > h3 {
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}

/* Life Stylesheet ==================================================================================================*/

/* Projects Stylesheet ==============================================================================================*/

/* Seleting the whole body of project page */
.project {
    min-height: 87vh;
    width: 70vw;
    margin-left: 15vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* First heading of project page: My Proects */
.first-project {
    margin-top: 5vh;
}

/* All of the heading: My Projects, Current Projects, Future Projects */
.project > h1 {
    text-decoration: underline;
    margin-bottom: 1rem;
}

/* Selecting all project listings */
.project-list {
    margin-bottom: 5vh;
    border-bottom: double black;
}

/* Selecting all project names and descriptions */
.project-list > h3, p{
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Selecting all images of projects */
.synchrotron-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.synchrotron-images > img {
    width: 25vw;
}
.synchrotron-image {
    border: #c4b7a6 solid 0.5rem;
    border-radius: 1rem;
}

.detailed-timeline-box {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}
.detailed-timeline-link {
    text-decoration: none;
    color: black;
    margin-left: 2vw;
    padding: 1rem 1rem;
    border: 0.25rem dotted navy;
    border-radius: 2rem;
}
.detailed-timeline-heading {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.detailed-timeline-heading-2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3rem;
}

.back-to-life-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background-color: #92a8d1;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-left: 3.5rem;
}



/* Projects Stylesheet ==============================================================================================*/

/* Room Stylesheet ==================================================================================================*/

/* Selecting the whole body of Room page */
.room {
    min-height: 87vh;
    width: 70vw;
    margin-left: 15%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* Selecting the header of Room page */
.room > h1 {
    text-decoration: underline;
}

/* Every sections of Room page */
.room-section {
    padding-top: 2rem
}

/* Room page component: Music ---------------*/
.music-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 41vw;
    margin-left: 14.5vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.music-images > img {
    height: auto;
    /* max-height: 600px; */
    width: 20vw;
    grid-gap: 1rem
}
.band1 {
    grid-row: 1/3;
    grid-column: 2/3;
}
.band2 {
    grid-row: 2/3;
    grid-column: 1/2;
}
.band3 {
    grid-row: 1/2;
    grid-column: 1/3;
}

/* Room page component: Tennis ---------------*/
.tennis-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.tennis-image-img {
    width: 30vw;
    margin-left: 15vw;
}
.tech-section {
    margin-top: 2rem;
}

/* Room Stylesheet ==================================================================================================*/

/* Contact Stylesheet ===============================================================================================*/

.contact {
    min-height: 68vh;
    width: 70vw;
    margin-left: 15%;
    padding-top: 15vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
}

.contact > div > h1 {
    text-decoration: underline;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
.contact > div > div {
    font-size: 1.5rem;
}

.contact-social-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: -4rem;
}

.contact-section-2 {
    text-align: center;
}
.waiting {
    border: #eca1a6 solid 1rem;
    border-radius: 1.5rem;
    align-items: center;
}
.waiting-text {
    text-align: center;
}
.contact-section-2 {
    margin-left: 8vw;
}
.credit {
    font-size: 0.8rem;
    text-align: right;
    margin-right: 4vw;
}



.NotFound {
    padding-top: 4rem;
    padding-bottom: 5rem;
}
.NotFound > *{
    /* margin-left: 20%;
    margin-right: 20%; */
    margin-top: 1rem;
    text-align: center;
    /* border: 5px red solid; */
}
.not-found{
    border: green 5px solid;
    border-radius: 1rem;
    height: 20rem;
    width: auto;
}







.lights {
    position: absolute;
    height: 100%;
    width: 100%;
    border: solid blue 3px;
}


.light-image {
    position: absolute;
}
.light-head {
    height: 5%;
    width: 10%;
    top: 10%;
}
.light-body {
    top: 15%;
    height: 90%;
    width: 10%;
    /* overflow-y: hidden; */
}
.light-foot {
    height: 5%;
    width: 10%;
    top: 105%;
}
.vertical-timeline-element--work > * {
    color: red;
}

