/* Global Stylesheet */

.App {
  background-color: #f0efef;
  /* background-color: black; */
  min-height: 100vh;
}

*{
  font-family: 'Poppins', sans-serif;
}

.pro {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
} 